$_main_color: #ffffff; // white
$_secondary_color: #ddd6ed; // text color
$_main_bg_color: #3d1c91; // violet
$_secondary_bg_color: #1e0e40; //dark blue
$_border_color: #e7eb26; // yellow
$_header_color: #f5a623; // orange
$_secondary_header_color: #ffcd01; // light orange
$_header_accent_color: #cea9ff; //purple
