<section class="popup" id="popup">
  <div class="container">
    <div class="popup-body">
      <article>
        <h2 class="popup-title">Our cookie policy</h2>
        <p class="popup-text">
          We use cookies to improve your experience on our website. By browsing
          this website, you agree to our use of cookies.
        </p>
      </article>
      <div class="popup-buttons">
        <button type="button" id="button-accept" class="button-popup">
          Accept cookies
        </button>
        <button
          type="button"
          id="button-decline"
          class="button-popup button-transparent"
        >
          Decline cookies
        </button>
      </div>
    </div>
  </div>
</section>
