<section class="description" id="description">
  <div class="description-container container">
    <div class="description-title-desk">
      <h2 class="description-title">Game Description</h2>
      <div></div>
    </div>

    <div class="description-text-desk">
      <div></div>
      <div class="description-text">
        <p class="description-paragraph">
          Step into the thrilling world of Match Villains and join a cunning
          family of aristocratic thieves! Plan and execute daring heists as you
          match symbols, break through obstacles, and collect the world's most
          priceless artifacts.
        </p>
        <p class="description-paragraph">
          Every level is a new challenge where strategy, quick thinking, and
          powerful combos will lead you to victory. Can you outsmart the
          security and pull off the ultimate heist?
        </p>
      </div>
    </div>

    <picture class="description-img">
      <!-- Десктопне зображення -->
      <source
        srcset="
          ./img/description/description_desk.png    1x,
          ./img/description/description_desk@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <!-- Мобільне зображення -->
      <source
        srcset="
          ./img/description/description_mob.png    1x,
          ./img/description/description_mob@2x.png 2x
        "
        media="(max-width: 1199px)"
      />
      <!-- Фallback зображення -->
      <img
        src="./img/description/description_mob.png"
        alt="robbed money picture"
        class="description-img"
      />
    </picture>
  </div>
</section>
