<footer>
  <div class="container">
    <div class="footer-body">
      <ul class="footer-list">
        <li>
          <a class="footer-link link" href="privacy-policy.html"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a class="footer-link link" href="terms-and-conditions.html"
            >Terms and Conditions</a
          >
        </li>
        <li>
          <a class="footer-link link" href="cookies-policy.html"
            >Cookies Policy</a
          >
        </li>
      </ul>
      <div class="footer-text text">
        <p>All rights reserved blazemasterhub.com | 2025</p>
      </div>
    </div>
  </div>
</footer>
