<section class="gallery" id="gallery">
  <h2 class="title gallery-title">Gallery</h2>
  <div class="swiper myGallerySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="img/gallery/galleryDesktop01.jpg" alt="Gallery 01" />
      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
  </div>
  <div class="nav-btn">
    <button class="circle-btn" id="prevGallerySlide" type="button">
      <svg
        class="left-btn-icon"
        width="24"
        height="24"
        aria-label="carousel scroll button"
      >
        <use href="./img/sprite.svg#icon-chevron-left"></use>
      </svg></button
    ><button class="circle-btn" id="nextGallerySlide" type="button">
      <svg
        class="right-btn-icon"
        width="24"
        height="24"
        aria-label="carousel scroll button"
      >
        <use href="./img/sprite.svg#icon-chevron-right"></use>
      </svg>
    </button>
  </div>
</section>
