<section class="gallery" id="gallery">
  <h2 class="title gallery-title">Gallery</h2>
  <div class="swiper myGallerySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="img/gallery/gallery-01.jpg" alt="Gallery 01" />
      </div>
      <div class="swiper-slide">
        <img src="img/gallery/gallery-02.png" alt="Gallery 02" />
      </div>
      <div class="swiper-slide">
        <img src="img/gallery/gallery-03.webp" alt="Gallery 03" />
      </div>
      <div class="swiper-slide">
        <img src="img/gallery/gallery-04.png" alt="Gallery 04" />
      </div>
      <div class="swiper-slide">
        <img src="img/gallery/gallery-05.png" alt="Gallery 05" />
      </div>
      <div class="swiper-slide">
        <img src="img/gallery/gallery-06.png" alt="Gallery 06" />
      </div>
      <div class="swiper-slide">
        <img src="img/gallery/gallery-07.jpg" alt="Gallery 07" />
      </div>
      <div class="swiper-slide">
        <img src="img/gallery/gallery-08.png" alt="Gallery 08" />
      </div>
      <div class="swiper-slide">
        <img src="img/gallery/gallery-09.png" alt="Gallery 09" />
      </div>
    </div>
  </div>
  <div class="nav-btn">
    <button class="circle-btn" id="prevGallerySlide" type="button">
      <svg
        class="left-btn-icon"
        width="24"
        height="24"
        aria-label="carousel scroll button"
      >
        <use href="./img/sprite.svg#icon-chevron-left"></use>
      </svg></button
    ><button class="circle-btn" id="nextGallerySlide" type="button">
      <svg
        class="right-btn-icon"
        width="24"
        height="24"
        aria-label="carousel scroll button"
      >
        <use href="./img/sprite.svg#icon-chevron-right"></use>
      </svg>
    </button>
  </div>
</section>
