<header class="header">
  <div class="header-container container">
    <a href="./index" class="logo">
      <picture class="logo-img">
        <!-- Десктопне зображення -->
        <source
          srcset="
            ./img/header/logo_desk.png    1x,
            ./img/header/logo_desk@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <!-- Мобільне зображення -->
        <source
          srcset="./img/header/logo_mob.png 1x, ./img/header/logo_mob@2x.png 2x"
          media="(max-width: 1199px)"
        />
        <!-- Фallback зображення -->
        <img
          src="./img/header/logo_mob.png"
          alt="logo"
          width="32"
          height="32"
        />
      </picture>
      <span class="logo-span">Match Villains</span>
    </a>

    <button data-modal-open class="menu-open-btn" type="button" id="toggleMenu">
      <svg
        class="menu-open-btn-icon"
        class="logo-img"
        width="42"
        height="20"
        aria-label="mobile menu open button"
      >
        <use href="./img/sprite.svg#icon-menu "></use>
      </svg>
    </button>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#hero" class="nav-list-link">HOME</a>
        </li>
        <li class="nav-list-item">
          <a href="#description" class="nav-list-link">GAME DESCRIPTION</a>
        </li>
        <li class="nav-list-item">
          <a href="#features" class="nav-list-link">KEY FEATURES</a>
        </li>
        <li class="nav-list-item">
          <a href="#faq" class="nav-list-link">FAQ</a>
        </li>
        <li class="nav-list-item">
          <a href="#reviews" class="nav-list-link">PLAYER REWIEWS</a>
        </li>
        <li class="nav-list-item">
          <a href="#gallery" class="nav-list-link">GALLERY</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
