<section id="hero" class="hero">
  <div class="hero-body">
    <h1 class="title hero-title">Match Villains</h1>
    <div class="text hero-text">
      <p>Master the Art of the Perfect Heist!</p>
    </div>
    <img
      srcset="img/hero@2x.jpg 2x"
      src="img/hero.jpg"
      alt="Hero image"
      class="hero-image"
    />
    <a
      href="https://play.google.com/store/apps/details?id=com.goodjobgames.matchvillains&hl=en&gl=us"
      target="_blank"
      class="link button hero-link"
      ><img
        src="img/market-icon.png"
        alt="Google Play icon"
        class="play-icon"
      />
      Play Now</a
    >
  </div>
</section>
