<div class="modal-overlay" data-modal id="mobileMenu">
  <div class="modal">
    <button class="mobile-menu-close-btn" type="button" data-modal-close>
      <svg
        class="mobile-menu-close-icon"
        width="29"
        height="29"
        aria-label="icon close"
      >
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>

    <nav class="nav-modal">
      <ul class="nav-list-modal">
        <li class="nav-list-item">
          <a href="#home" class="nav-list-link">HOME</a>
        </li>
        <li class="nav-list-item">
          <a href="#description" class="nav-list-link">GAME DESCRIPTION</a>
        </li>
        <li class="nav-list-item">
          <a href="#features" class="nav-list-link">KEY FEATURES</a>
        </li>
        <li class="nav-list-item">
          <a href="#faq" class="nav-list-link">FAQ</a>
        </li>
        <li class="nav-list-item">
          <a href="#reviews" class="nav-list-link">PLAYER REWIEWS</a>
        </li>
        <li class="nav-list-item">
          <a href="#gallery" class="nav-list-link">GALLERY</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
