<div class="modal-overlay" data-modal id="mobileMenu">
  <div class="modal">
    <button class="mobile-menu-close-btn" type="button" data-modal-close>
      <svg
        class="mobile-menu-close-icon"
        width="29"
        height="29"
        aria-label="icon close"
      >
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>

    <nav class="nav-modal">
      <ul class="nav-list-modal">
        <li class="nav-list-item-modal">
          <a href="#hero" class="nav-list-link-modal">HOME</a>
        </li>
        <li class="nav-list-item-modal">
          <a href="#description" class="nav-list-link-modal"
            >GAME DESCRIPTION</a
          >
        </li>
        <li class="nav-list-item-modal">
          <a href="#features" class="nav-list-link-modal">KEY FEATURES</a>
        </li>
        <li class="nav-list-item-modal">
          <a href="#faq" class="nav-list-link-modal">FAQ</a>
        </li>
        <li class="nav-list-item-modal">
          <a href="#reviews" class="nav-list-link-modal">PLAYER REWIEWS</a>
        </li>
        <li class="nav-list-item-modal">
          <a href="#gallery" class="nav-list-link-modal">GALLERY</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
