<section class="review" id="reviews">
  <h2 class="review-title">PLAYER REVIEWS</h2>

  <div class="carousel">
    <ul class="review-list" id="reviewList">
      <li class="review-card">
        <p class="review-text">
          "A thrilling twist on Match-3! The heist mechanics make every level
          feel like a puzzle-filled adventure!"
        </p>
        <div class="review-card-person">
          <img
            src="./img/reviews/Alex.png"
            alt="photo"
            class="photo-img"
            width="44"
            height="44"
          />
          <div class="review-card-person-name">
            <h4 class="review-card-title">Alex D.</h4>
            <p class="review-card-text">Strategy Lover</p>
          </div>
        </div>
      </li>

      <li class="review-card">
        <p class="review-text">
          "The characters and story keep me hooked! Love the challenge and
          strategic gameplay!"
        </p>
        <div class="review-card-person">
          <img
            src="./img/reviews/Jessica.png"
            alt="photo"
            class="photo-img"
            width="44"
            height="44"
          />
          <div class="review-card-person-name">
            <h4 class="review-card-title">Jessica L.</h4>
            <p class="review-card-text">Puzzle Enthusiast</p>
          </div>
        </div>
      </li>

      <li class="review-card">
        <p class="review-text">
          "Daily heists and leaderboards make it exciting! Always striving to
          outsmart the best!"
        </p>
        <div class="review-card-person">
          <img
            src="./img/reviews/Ethan.png"
            alt="photo"
            class="photo-img"
            width="44"
            height="44"
          />
          <div class="review-card-person-name">
            <h4 class="review-card-title">Ethan R.</h4>
            <p class="review-card-text">Competitive Gamer</p>
          </div>
        </div>
      </li>

      <li class="review-card">
        <p class="review-text">
          "The visuals and setting are so immersive. I feel like a true master
          thief!"
        </p>
        <div class="review-card-person">
          <img
            src="./img/reviews/Mia.png"
            alt="photo"
            class="photo-img"
            width="44"
            height="44"
          />
          <div class="review-card-person-name">
            <h4 class="review-card-title">Mia S.</h4>
            <p class="review-card-text">Casual Player</p>
          </div>
        </div>
      </li>

      <li class="review-card">
        <p class="review-text">
          "Stealing treasures, outwitting security, and unleashing combos –
          what’s not to love?"
        </p>
        <div class="review-card-person">
          <img
            src="./img/reviews/Nathan.png"
            alt="photo"
            class="photo-img"
            width="44"
            height="44"
          />
          <div class="review-card-person-name">
            <h4 class="review-card-title">Nathan B.</h4>
            <p class="review-card-text">Adventure Seeker</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="carousel-btn">
    <button class="circle-btn" id="prevBtn" type="button">
      <svg
        class="left-btn-icon"
        width="24"
        height="24"
        aria-label="carousel scroll button"
      >
        <use href="./img/sprite.svg#icon-chevron-left"></use>
      </svg></button
    ><button class="circle-btn" id="nextBtn" type="button">
      <svg
        class="right-btn-icon"
        width="24"
        height="24"
        aria-label="carousel scroll button"
      >
        <use href="./img/sprite.svg#icon-chevron-right"></use>
      </svg>
    </button>
  </div>
</section>
