footer {
  background-color: $_secondary_bg_color;
  padding: 60px 20px;
}
.footer-body {
  padding: 16px 0;
}

.footer-text {
  text-align: right;
}

@include media(desktop) {
  .footer-body {
    padding: 80px 60px 25px 60px;
  }
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 14px;
  list-style: none;
}

@include media(desktop) {
  .footer-list {
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 40px;
    & li:not(:last-child)::after {
      content: '|';
      margin-left: 8px;
    }
  }
}
.footer-link {
  font-size: 24px;
  color: $_main_color;
}

.footer-link:last-child::after {
}

.link {
}
.footer-text {
  font-size: 12px;
  text-align: center;
}

@include media(desktop) {
  .footer-text {
    font-size: 16px;
  }
}
.text {
}
