.hero {
  //padding-top: 72px;
  //padding-bottom: 60px;
  padding: 72px 20px 60px 20px;
}

.container {
  max-width: 320px;
  margin: 0 auto;

}

@include media(desktop) {
  .hero {
    padding: 155px 60px 100px 60px;
  }
}
.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include media(desktop) {
  .hero-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0 24px;
  }
  .hero-image {
    width: 100%;
    grid-area: 1/2/4;
  }
  .hero-image:not(:last-child) {
    margin-bottom: 0;
  }
  .hero-title {
    height: 230px;
    align-self: flex-end;
  }
}

.hero-title {
  font-size: 48px;
  line-height: 1.2;
}
.hero-text:not(:last-child) {
  margin-bottom: 24px;
}
.hero-image {
  border-radius: 24px;
  overflow: hidden;
}
.hero-image:not(:last-child) {
  margin-bottom: 28px;
}
.hero-link {
  height: fit-content;
}
.play-icon {
}

@include media(desktop) {
  .hero-title {
    font-size: 96px;
    line-height: 1.2;
  }

  div.hero-text {
    font-size: 28px;
    margin-bottom: 0 !important;
  }

  .hero-image {
    margin-bottom: 0 !important;
  }

  a.hero-link {
    padding: 18px 0;
    max-width: 436px;
  }
}
