.hero {
  padding-top: 72px;
  padding-bottom: 60px;
}
.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include media(desktop) {
  .hero-body {
  }
}

.hero-title {
  font-size: 48px;
  line-height: 1.2;
}

@include media(desktop) {
  .hero-title {
    font-size: 96px;
    letter-spacing: 1.2;
  }

  .hero-text {
    font-size: 20px;
  }
}
.hero-text:not(:last-child) {
  margin-bottom: 24px;
}
.hero-image {
  border-radius: 24px;
  overflow: hidden;
}
.hero-image:not(:last-child) {
  margin-bottom: 28px;
}
.hero-link {
}
.play-icon {
}
