.hero {
}
.hero-body {
}
.hero-title {
  font-size: 48px;
  line-height: 1.2;
}
.hero-text:not(:last-child) {
  margin-bottom: 24px;
}
.hero-image {
  border-radius: 24px;
  overflow: hidden;
}
.hero-image:not(:last-child) {
  margin-bottom: 28px;
}
.hero-link {
}
.play-icon {
}
