@import './header.scss';
@import './hero.scss';
@import './description.scss';
@import './features.scss';
@import './faq.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.scss';
@import './cookie-popup.scss';
@import './modal-menu.scss';

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@include media(desktop) {
  .container {
    padding: 0 60px;
  }
}

.title {
  font-family: 'Luckiest Guy', cursive;
  color: $_header_color;
}
.text {
}
.link {
}
.button {
  color: $_secondary_bg_color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: $_header_accent_color;
  border-radius: 100px;
  padding: 12px 0;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
